@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap');

@font-face { 
  font-family: 'Liliput Steps'; 
  src: url('LilliputSteps.otf'); 
} 

body {
    /* font: 14px "Century Gothic", Futura, sans-serif; */
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url("../public/images/stars.jpg");
    background-size: cover;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin: 10px 0;
    font-size: 2vw;
    /* width: 13.5vw; */
    width: fit-content;
    padding: 0px 0.4vw;
    /* background-color: azure; */
    color: #f9e105;
  }

  .moveList {
    font-family: 'Liliput Steps';
    font-size: 18px;
    color: silver;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
  }

  .changeBtn {
    color: gold;
    background-color: purple;
    font-size: 1.2vw;
    border-radius: 10px;
    margin-left: 5px;
  }

  .square {
    height: 10vw;
    width: 10vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 7.5vw;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    float: left;
    margin-right: -1px;
    margin-top: -1px;
  }

  .square:focus {
    outline: none;
  }

    /* It's crucial to keep "winningSquares" below 'square' class as it should overwrite it */
  .winningSquares {
    background-color: rgb(0, 98, 0, 0.7);
    color: green;
    font-family: 'Raleway', sans-serif; 
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    width: 30vw; /* without setting width "margin: 0 auto;" doesn't work */
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;

  }
  
  .game-info {
    margin-left: 20px;
    display: inline-block;
  }
  
    /* Responsive styling in order of decreasing screen size */
@media (min-width: 1750px) {
  .game {
    width: 510px;
  }

  .square {
    font-size: 130px;
  }
}

@media (max-width: 1600px) {
  .game {
    width: 36vw;
  }

  .square {
    width: 12vw;
    height: 12vw;
    font-size: 9vw;
  }
}

@media (max-width: 1200px) {
  .game {
    width: 42vw;
  }

  .square {
    width: 14vw;
    height: 14vw;
    font-size: 10.5vw;
  }

  .status {
    font-size: 35px;
  }

  .changeBtn {
    font-size: 18px;   
  }
}

@media (min-width: 1000px) {
  .game {
    display: flex;
    width: 82vw; /* without setting width "margin: 0 auto;" doesn't work */
    margin: 50px;
  }

  .game-info {
    margin-top: 4vw;
    margin-left: 30px;
  }
  /* While playing, name of status changes the width of game-info pushing the game-board. For avoiding it, width should be set leaving space for characters. */
  .status {
    width: 7em;
  }
}

@media (max-width: 1000px) {
  .game {
    width: 60vw;
    flex-direction: column; /* For narrow screens game-info will be displayed below the board */
  }

  .square {
    width: 20vw;
    height: 20vw;
    font-size: 16vw;
  }
}

@media (max-width: 800px) {
  .game {
    width: 81vw;
  }

  .square {
    width: 27vw;
    height: 27vw;
    font-size: 20.75vw;
  }
}

@media (max-width: 350px) {
  .status {
    font-size: 30px;
  }
}

@media (max-width: 290px) {
  .status {
    font-size: 25px;
  }

  .changeBtn {
    font-size: 15px;
  }

  .game-info {
    margin-left: 0px;
  }
}